<div>
  <button (click)="this.handleLowClick()">increase v</button>

  <button (click)="this.handleMajorClick()">increase v2</button>
  <context-provider [value]="appState_1">
    <parent-pure></parent-pure>
  </context-provider>
  <context-provider [value]="appState_2">
    <parent-projection>
      <child-pure></child-pure>
    </parent-projection>
  </context-provider>
  <!-- <button (click)="this.handleClick()">
    increase v
  </button>

  <button (click)="this.handleClick2()">
    increase v2
  </button>

  <other-with [v]="this.v">
    <context-consumer>
    </context-consumer>
  </other-with>

  <context-provider [value]="this.v">
    <context-consumer>
    </context-consumer>
  </context-provider> -->

  <!-- <context-provider [value]="this.v"> -->
  <!--   <other> -->
  <!--   </other> -->
  <!-- </context-provider> -->
</div>
